#mainframe{
    position: relative;
    top: 0;
    height: 100%;
    width: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    align-items: center;
}
#searchFrame{
    position: relative;
    height: 80%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
#searchInput{
    border: 1px #90A4AE solid;
    padding: 5px;
    border-radius: 50px;
    margin: 100px 20px 40px 20px;
    height: 30px;
    width: 500px;
    font-size: large;
    outline: none;
    text-align: center;
    letter-spacing: 1px;
    opacity: 0.80;
}
#searchInput:hover{
    opacity: 1;
}
#searchInput:focus{
    opacity: 1;
}
#submit{
    padding: 5px 20px;
    font-size: large;
    border: 1px #B0BEC5 solid;
    background: #37474F;
    border-radius: 3px;
    color: #FFEA00;
}
#results{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#searching{
    margin: 30px 10px;
    font-size: large;
}
.searchClass{
    display: flex;
    flex-direction: column;
    margin:5px 10px;
    padding: 5px 10px;
    width:600px;
    border-radius: 2px;
    border: 1px #90A4AE solid;
    align-items: flex-start;
}
#pageList{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #EC407A;
    align-self: center;
}
.pagelinks{
    margin: 5px;
    border-radius: 2px;
    border: 1px #90A4AE solid;
    padding: 3px 7px;
}
.pagelinks:hover{
    cursor: grab;
}